{% extends "base_pdf.html" %}
{% load i18n humanize %}

{% block bonus_css_pdf %}
    @page {
        size: a4 portrait;
        @frame {
            margin-left: 1cm;
            margin-right: 1cm;
            margin-bottom: 2cm;
            margin-top: 5cm;
        }

        @frame logoFrame {
            -pdf-frame-content: logoFrameContent;
            top: 1.0cm;
            right: 1.2cm;
            width: 35%;
        }

        @frame headerFrame {
            -pdf-frame-content: headerFrameContent;
            top: 1.1cm;
            left: 1.2cm;
            width: 50%;
        }

    }

    @page qr {
        size: a4 portrait;
        @frame {    
            margin-left: 1cm;
            margin-right: 1cm;
            margin-bottom: 107.5mm;
            margin-top: 5cm;
        }

        @frame logoFrame {
            -pdf-frame-content: logoFrameContent;
            top: 1.0cm;
            right: 1.2cm;
            width: 35%;
        }

        @frame headerFrame {
            -pdf-frame-content: headerFrameContent;
            top: 1.1cm;
            left: 1.2cm;
            width: 50%;
        }

        @frame qr {
            -pdf-frame-content: qr;
            bottom: 0cm;
            left: 0cm;
            width: 100%;
            height: 105.5mm;
        }

        @frame qr_comments {
            -pdf-frame-content: qr_comments;
            margin-left: 1cm;
            margin-right: 1cm;
            margin-bottom: 115.5mm;
            margin-top: 5cm;
        }

    }

    .maintable .tr-a {
        border-bottom: 2px black solid;
        font-weight: bold;
        font-size: 13px;
    }

    .maintable tr {
        border-bottom: 1px #ddd solid;
    }

    .maintable tr td {
        text-align: right;
    }

    .maintable .noright {
        text-align: left !important;
    }

    .liste-c {
        font-size: 12px;
        padding-top: 5px;
    }

    .headertable {
        -pdf-keep-in-frame-mode: none;
        width: 100%;
        height: 100%;
        display: block;
        font-size: 10px;
    }

    .headertable td {
        line-height: 2px;
    }

    body {
        font-size: 12px;
    }

    #qr img {
        zoom: 150%;
    }

    .pay_title
    {
        -pdf-keep-with-next: true; 
        font-size: 120%;
    }
{% endblock %}

{% block content %}
    {% language invoice.get_language %}
        <div id="headerFrameContent">

            <table class="headertable" width="100%">
                <tr>
                    <td><b>A</b>ssociation</td>
                    <td width="13%">Tél. :</td>
                    <td>+41 21 693 2095</td>
                </tr>
                <tr>
                    <td><b>G</b>énérale des</td>
                    <td>Email :</td>
                    <td>contact@agepoly.ch</td>
                </tr>
                <tr>
                    <td><b>E</b>tudiants de l’école</td>
                    <td>Web :</td>
                    <td>agepoly.ch</td>
                </tr>
                <tr>
                    <td><b>Poly</b>technique Fédérale</td>
                    <td>IBAN :</td>
                    <td>CH19&nbsp;0483&nbsp;5028&nbsp;7897&nbsp;7100&nbsp;0</td>
                </tr>
                <tr>
                    <td>de Lausanne</td>
                    <td>TVA :</td>
                    <td>CHE-113.397.612</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Addr : </td>
                    <td>Case Postale 16</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CH-1015 LAUSANNE EPFL</td>
                </tr>
            </table>
        </div>

        <div id="logoFrameContent">
            <img src="{{MEDIA_ROOT}}img/logo_factures.png" style="text-align: right;" width="260">
            <div style="font-size: 170%; text-align:right; white-space: nowrap; overflow: hidden; text-overflow: clip; ">
                <b>{% if invoice.costcenter.unit.pk != 1 %}{{ invoice.costcenter.unit }}&nbsp;{% endif %}</b>
            </div>
        </div>

        <table width="100%">
        <tr>
            <td width="12cm">
            </td>
            <td style="vertical-align: top;">
                <div style="font-size: 130%;"">
                    {% if invoice.add_to %}
                        <small>{% trans "À l'attention de" %}</small><br />
                    {% endif %}
                
                    {{ invoice.client_name }}
                    <br />
                    {{invoice.multiline_address|linebreaksbr}}
                    <br />
                    <br />
                    {% if invoice.date_and_place %}
                        {{invoice.date_and_place}}
                    {% endif %}
                </div>
            </td>
        </tr>
        </table>

        <h3 style="text-align: center; font-size: 18px;">{% trans "Facture" %} {% trans "N°" %}<b>{{invoice.get_reference}}</b></h3>

        <div style="text-align: left;">
            {{invoice.preface|linebreaksbr}}
        </div>

        <table class="liste-c maintable">
            <tr class="tr-a noright">
                <td width="50%" class="noright">&nbsp;&nbsp;{% trans "Description" %}</td>
                <td width="15%">{% trans "Prix unitaire" %}</td>
                <td width="8%">{% trans "% TVA" %}</td>
                <td width="15%">{% trans "TVA" %}</td>
                <td width="16%">{% trans "Total" %}</td>
            </tr>
            {% for line in invoice.get_lines %}
                <tr>
                    <td class="noright">{% if line.quantity == 1 %}&nbsp;{% else %}{{line.quantity}}{% endif %} {{line.label}}</td>
                    <td>{{line.value|floatformat:"2"|intcomma}} CHF</td>
                    <td>{{line.tva|floatformat:"2"}} %</td>
                    <td>{{line.get_tva_value|floatformat:"2"|intcomma}} CHF</td>
                    <td>{{line.total|floatformat:"2"|intcomma}} CHF</td>
                </tr>
            {% endfor %}

            <tr style="border-top: 1px #000 solid;">
                <td colspan="4" style="text-align: right;">
                    <b>{% trans "Total (HT)" %}:</b>
                </td>
                <td>{{invoice.get_total_ht|floatformat:"2"|intcomma}} CHF</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right;">
                    <b>{% trans "Total (TTC)" %}:</b>
                </td>
                <td><b>{{invoice.get_total|floatformat:"2"|intcomma}} CHF</b></td>
            </tr>
        </table>

        <br /><br />

        {% if invoice.ending %}
            {{invoice.ending}}
            <br />
        {% endif %}

        {% if invoice.display_qr %}
            <p style="-pdf-keep-with-next: true;">
            {% if invoice.delay > 0 %}
                {% blocktrans with d=invoice.delay %}Nous vous remercions de bien vouloir payer ce montant à {{d}} jours avec les informations de paiement à la page suivante.{% endblocktrans %}
            {% else %}
                {% trans "Nous vous remercions de bien vouloir payer ce montant avec les informations de paiement à la page suivante." %}
            {% endif %}
            </p>
            <br />

        {% endif %}
        {% if not invoice.display_qr %}
            <p style="-pdf-keep-with-next: true;">
                {% if invoice.delay > 0 %}
                    {% blocktrans with d=invoice.delay %}Nous vous remercions de bien vouloir payer ce montant à {{d}} jours sur le compte suivant :{% endblocktrans %}
                {% else %}
                    {% trans "Nous vous remercions de bien vouloir payer ce montant sur le compte suivant :" %}
                {% endif %}
            </p>

            <br style="-pdf-keep-with-next: true;"/>

            <table width="100%" style="-pdf-keep-with-next: false;">
                <tr>
                    <td width="30%"></td>
                    <td width="30%">{% trans "Banque" %}&nbsp;:</td>
                    <td width="40%">Credit&nbsp;Suisse&nbsp;-&nbsp;Zürich</td>
                </tr>
                <tr>
                    <td></td>
                    <td>IBAN&nbsp;:</td>
                    <td>CH19&nbsp;0483&nbsp;5028&nbsp;7897&nbsp;7100&nbsp;0</td>
                </tr>
                <tr>
                    <td></td>
                    <td>BIC/SWIFT&nbsp;:</td>
                    <td>CRESCHZZ80A</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{% trans "Mention/Référence" %}&nbsp;:</td>
                    <td>{{invoice.get_qr_ref}}</td>
                </tr>

            </table>

            <br /><br />

        {% endif %}
                
        {% if invoice.greetings %}
            {{invoice.greetings|linebreaksbr}}
            <br /><br />
        {% endif %}

        {% if invoice.sign %}
            <div style="margin-left: 12cm; font-size: 120%;">
                <br /><br />
                {{invoice.sign|linebreaksbr}}
                <br />
                <br />
                <br />
                <br />
            </div>
            <br />
        {% endif %}

        {% if invoice.annex %}
            {% trans "Annexe(s): ment." %}
        {% endif %}

        {% if invoice.display_qr %}
            <pdf:nexttemplate name="qr" />
            <pdf:nextpage>
            <div id=qr_comments>
               
                <div style="margin-left: 12cm; font-size: 140%;">
                    <p>{% trans "Facture" %}  {% trans "N°" %} <b>{{invoice.get_reference}}</b></p>
                </div>
                
                <br /><br /><br />

                <center>
                    <p class="pay_title">
                        <b>{% trans "Virement Bancaire" %}</b>                         
                    </p>
                    
                    <br style="-pdf-keep-with-next: true;"/>

                    <div width="130mm" style="margin-left: 45mm;">
                    <table width="100%" style="text-align: left; -pdf-keep-with-next: false;">
                        <tr>
                            <td width="20%">{% trans "Banque" %}&nbsp;:</td>
                            <td width="80%">Credit&nbsp;Suisse&nbsp;-&nbsp;Zürich</td>
                        </tr>
                        <tr>
                            <td>IBAN&nbsp;:</td>
                            <td>CH19&nbsp;0483&nbsp;5028&nbsp;7897&nbsp;7100&nbsp;0</td>
                        </tr>
                        <tr>
                            <td>BIC/SWIFT&nbsp;:</td>
                            <td>CRESCHZZ80A</td>
                        </tr>
                        <tr>
                            <td>{% trans "Mention/Référence" %}&nbsp;:</td>
                            <td>{{invoice.get_qr_ref}}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Adresse" %}&nbsp;:</td>
                            <td>Case Postale 16</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>CH-1015 LAUSANNE EPFL</td>
                        </tr>
                    </table>
                    </div>
                    
                    <br /><br /><br /><br /><br /><br /><br /><br /><br />

                    <p class="pay_title">
                        <b>{% trans "QR Facture" %}</b>                         
                    </p>
            </center>
            </div>

            <br />

            <p style="color: white">This is a fake placeholder</p>

            <div id="qr">
                <img src="{{MEDIA_ROOT}}cache/bvr/qr-{{invoice.pk}}.png">
            </div>
            
        {% endif %}
    {% endlanguage %}
{% endblock %}

{% block footer %}
{% endblock %}
